// Licensed to the CodeNet Foundation under one or more agreements.
// The CodeNet Foundation licenses this file to you under the MIT license.

#define FX_VER_FILEDESCRIPTION_STR "CodeNet Runtime Just-In-Time Compiler Type System Interface"

#include <fxver.h>
#include <fxver.rc>
